.places {
    margin: 0 0 92px 0;
    padding: 0 100px 0;
}

.place {
    display: grid;
    grid-template-columns: 1fr minmax(220px, 1fr);
    padding-bottom: 80px;
    gap: 48px 40px;
}

.place__title {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
}

.place__website {
    align-self: end;
}

.place__url-heading {
    margin: 0 0 12px 0;
    padding: 0;
    color: #AAAAAA;
    text-transform: uppercase;
}

.place__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: underline;
}

.place__image {
    max-width: 460px;
    max-height: 460px;
}

.place__paragraph {
    margin: 0 0 26px 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}

.place__paragraph:last-child {
    margin: 0;
}

.place__paragraphs {
    display: flex;
    flex-direction: column;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1184px;
    height: 740px;
}

.cover__title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    text-align: center;
    max-width: 560px;
}

.cover__subtitle {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    max-width: 360px;
}

.cover__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(42, 44, 47, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 740px;
}   

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer__navbar {

}

.footer__links {
    list-style: none;
}

.footer__item {

}

.footer__link {
    text-decoration: none;
}

.footer__copyright {

}
