.place__image {
    max-width: 460px;
    object-fit: contain;
  }
  
  @media (max-width: 1279px) {
    .place__image {
      max-width: 440px;
      margin: 0 0 24px 0;
    }
  }
  
  @media (max-width: 1023px) {
    .place__image {
      max-width: 340px;
      margin: 0;
    }
  }
  
  @media (max-width: 767px) {
    .place__image {
      max-width: 100%;
    }
  }
