.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 0 56px;
}


@media screen and (max-width: 1024px) {
    .header {
        padding: 0 48px 48px;
    }
}


@media screen and (max-width: 768px) {
    .header {
        padding: 0 24px 59px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        padding: 0 16px 48px;
    }
}

