.footer__links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 425px) {
    .footer__links {
        flex-direction: column;
        justify-content: space-between;
    }
}